<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.concurrency_demo.mapper.OrderMapper">
    <select id="selectOrderForUpdate" resultType="com.example.concurrency_demo.entity.Order">
        SELECT
          id,name,num
        FROM
        os_order
        where num = #{n} for update
    </select>


    <select id="selectMax" resultType="com.example.concurrency_demo.entity.Order">
        SELECT
            id,name,num
        FROM
            os_order
        order by num desc limit 1
    </select>

    <insert id="insertOrder" >
        insert into os_order values() where
    </insert>

</mapper>
